USE [master]
GO
/****** Object:  Database [TTChuyenMon]    Script Date: 5/23/2021 11:04:45 PM ******/
CREATE DATABASE [TTChuyenMon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TTChuyenMon', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TTChuyenMon.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TTChuyenMon_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TTChuyenMon_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TTChuyenMon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TTChuyenMon]
GO
/****** Object:  User [sa1]    Script Date: 5/23/2021 11:04:45 PM ******/
CREATE USER [sa1] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[sa1]
GO
/****** Object:  User [ruong]    Script Date: 5/23/2021 11:04:45 PM ******/
CREATE USER [ruong] FOR LOGIN [ruong] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Schema [sa1]    Script Date: 5/23/2021 11:04:45 PM ******/
CREATE SCHEMA [sa1]
GO
/****** Object:  Table [dbo].[Bai_Hoc]    Script Date: 5/23/2021 11:04:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bai_Hoc](
	[Ma_Bai] [int] IDENTITY(1,1) NOT NULL,
	[Tên_Bai] [nvarchar](200) NULL,
	[Ma_Chuong] [int] NULL,
	[Xoa] [bit] NULL,
 CONSTRAINT [PK_Bai_Hoc] PRIMARY KEY CLUSTERED 
(
	[Ma_Bai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cau_Hoi]    Script Date: 5/23/2021 11:04:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cau_Hoi](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MaDe] [nchar](10) NULL,
	[Ma_CH] [bigint] NULL,
 CONSTRAINT [PK_Cau_Hoi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chuong_Hoc]    Script Date: 5/23/2021 11:04:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chuong_Hoc](
	[Ma_Chuong] [int] IDENTITY(1,1) NOT NULL,
	[Ten_Chuong] [nvarchar](50) NULL,
	[SoBai] [int] NULL,
	[Xóa] [bit] NULL,
 CONSTRAINT [PK_Chuong_Hoc] PRIMARY KEY CLUSTERED 
(
	[Ma_Chuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_An]    Script Date: 5/23/2021 11:04:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_An](
	[Ma_Dan] [bigint] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](500) NULL,
	[HinhAnh] [varchar](100) NULL,
	[TrangThai] [bit] NULL,
	[Ma_CH] [bigint] NOT NULL,
	[Xoa] [bit] NULL,
 CONSTRAINT [PK_D_An] PRIMARY KEY CLUSTERED 
(
	[Ma_Dan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Da_LuaChon]    Script Date: 5/23/2021 11:04:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Da_LuaChon](
	[MaTk] [nchar](20) NULL,
	[Ma_De] [nchar](10) NULL,
	[Ma_Dan] [bigint] NULL,
	[Ma_CT] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Da_LuaChon] PRIMARY KEY CLUSTERED 
(
	[Ma_CT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeThi]    Script Date: 5/23/2021 11:04:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeThi](
	[Ma_De] [nchar](10) NOT NULL,
	[MaTK] [nchar](20) NULL,
	[ThoiGianThi] [int] NULL,
	[NgayThi] [datetime] NULL,
	[DiêmSo] [float] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_DeThi] PRIMARY KEY CLUSTERED 
(
	[Ma_De] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DS_BaiHoc]    Script Date: 5/23/2021 11:04:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DS_BaiHoc](
	[Ma_TK] [nchar](20) NULL,
	[Ma_Bai] [int] NULL,
	[Ma_CT] [int] IDENTITY(1,1) NOT NULL,
	[ListCauHoi] [nchar](500) NULL,
	[SoCauDung] [int] NULL,
	[SoCauSai] [int] NULL,
 CONSTRAINT [PK_DS_ChuongHoc] PRIMARY KEY CLUSTERED 
(
	[Ma_CT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoCauHoi]    Script Date: 5/23/2021 11:04:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoCauHoi](
	[Ma_CH] [bigint] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](100) NULL,
	[MucDọ] [int] NULL,
	[Xoa] [bit] NULL,
	[Ma_Bai] [int] NULL,
 CONSTRAINT [PK_KhoCauHoi] PRIMARY KEY CLUSTERED 
(
	[Ma_CH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 5/23/2021 11:04:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [nchar](20) NOT NULL,
	[MatKhau] [nchar](20) NULL,
	[Ten] [nvarchar](50) NULL,
	[Quyen] [bit] NULL,
	[NgayTao] [date] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bai_Hoc] ON 

INSERT [dbo].[Bai_Hoc] ([Ma_Bai], [Tên_Bai], [Ma_Chuong], [Xoa]) VALUES (1, N'Dao động điều hòa  ', 1, 1)
INSERT [dbo].[Bai_Hoc] ([Ma_Bai], [Tên_Bai], [Ma_Chuong], [Xoa]) VALUES (2, N'Con lắc lò xo', 1, 1)
INSERT [dbo].[Bai_Hoc] ([Ma_Bai], [Tên_Bai], [Ma_Chuong], [Xoa]) VALUES (3, N'Con lắc đơn', 1, 1)
SET IDENTITY_INSERT [dbo].[Bai_Hoc] OFF
GO
SET IDENTITY_INSERT [dbo].[Chuong_Hoc] ON 

INSERT [dbo].[Chuong_Hoc] ([Ma_Chuong], [Ten_Chuong], [SoBai], [Xóa]) VALUES (1, N'DAO ĐỘNG CƠ', 12, 1)
INSERT [dbo].[Chuong_Hoc] ([Ma_Chuong], [Ten_Chuong], [SoBai], [Xóa]) VALUES (2, N'SÓNG CƠ VÀ SÓNG ÂM', 1, 1)
INSERT [dbo].[Chuong_Hoc] ([Ma_Chuong], [Ten_Chuong], [SoBai], [Xóa]) VALUES (1002, N'DÒNG ĐIỆN XOAY CHIỀU', NULL, 1)
SET IDENTITY_INSERT [dbo].[Chuong_Hoc] OFF
GO
SET IDENTITY_INSERT [dbo].[D_An] ON 

INSERT [dbo].[D_An] ([Ma_Dan], [NoiDung], [HinhAnh], [TrangThai], [Ma_CH], [Xoa]) VALUES (1, N'A.
5
c
m
;
0
r
a
d
. ', NULL, 0, 1, NULL)
INSERT [dbo].[D_An] ([Ma_Dan], [NoiDung], [HinhAnh], [TrangThai], [Ma_CH], [Xoa]) VALUES (2, N'B. 
5
c
m
;
4
π
 
r
a
d
.', NULL, 0, 1, NULL)
INSERT [dbo].[D_An] ([Ma_Dan], [NoiDung], [HinhAnh], [TrangThai], [Ma_CH], [Xoa]) VALUES (3, N'C. 
5
c
m
;
(
4
π
 
t
)
r
a
d
.', NULL, 0, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[D_An] OFF
GO
SET IDENTITY_INSERT [dbo].[DS_BaiHoc] ON 

SET IDENTITY_INSERT [dbo].[DS_BaiHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[KhoCauHoi] ON 

INSERT [dbo].[KhoCauHoi] ([Ma_CH], [NoiDung], [HinhAnh], [MucDọ], [Xoa], [Ma_Bai]) VALUES (0, N'    Một vật dao động điều hoà dọc theo trục Ox với phương trình:  Nếu chọn gốc toạ độ O tại vị trí cân bằng của vật thì gốc thời gian t = 1s là lúc vật:', N'', 2, 1, 1)
INSERT [dbo].[KhoCauHoi] ([Ma_CH], [NoiDung], [HinhAnh], [MucDọ], [Xoa], [Ma_Bai]) VALUES (1, N'Cho phương trình của dao động điều hòa 
x
=
−
5
c
o
s
(
4
π
 
t
)
(cm). Biên độ và pha ban đầu của dao động là bao nhiêu?', NULL, 1, 1, 1)
INSERT [dbo].[KhoCauHoi] ([Ma_CH], [NoiDung], [HinhAnh], [MucDọ], [Xoa], [Ma_Bai]) VALUES (2, N'Một vật nhỏ dao động điều hòa theo phương trình x = Acos 10t (t tính bằng s). Tại thời điểm t = 1,5s, pha dao động của vật là', NULL, 1, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[KhoCauHoi] OFF
GO
INSERT [dbo].[TaiKhoan] ([MaTK], [MatKhau], [Ten], [Quyen], [NgayTao], [TrangThai]) VALUES (N'5951071113          ', N'1                   ', N'truong', 0, CAST(N'2021-03-03' AS Date), 1)
INSERT [dbo].[TaiKhoan] ([MaTK], [MatKhau], [Ten], [Quyen], [NgayTao], [TrangThai]) VALUES (N'admin               ', N'1                   ', N'admin', 1, CAST(N'2021-03-03' AS Date), 1)
GO
ALTER TABLE [dbo].[Bai_Hoc]  WITH CHECK ADD  CONSTRAINT [FK_Bai_Hoc_Chuong_Hoc] FOREIGN KEY([Ma_Chuong])
REFERENCES [dbo].[Chuong_Hoc] ([Ma_Chuong])
GO
ALTER TABLE [dbo].[Bai_Hoc] CHECK CONSTRAINT [FK_Bai_Hoc_Chuong_Hoc]
GO
ALTER TABLE [dbo].[Cau_Hoi]  WITH CHECK ADD  CONSTRAINT [FK_Cau_Hoi_DeThi] FOREIGN KEY([MaDe])
REFERENCES [dbo].[DeThi] ([Ma_De])
GO
ALTER TABLE [dbo].[Cau_Hoi] CHECK CONSTRAINT [FK_Cau_Hoi_DeThi]
GO
ALTER TABLE [dbo].[Cau_Hoi]  WITH CHECK ADD  CONSTRAINT [FK_Cau_Hoi_KhoCauHoi] FOREIGN KEY([Ma_CH])
REFERENCES [dbo].[KhoCauHoi] ([Ma_CH])
GO
ALTER TABLE [dbo].[Cau_Hoi] CHECK CONSTRAINT [FK_Cau_Hoi_KhoCauHoi]
GO
ALTER TABLE [dbo].[D_An]  WITH CHECK ADD  CONSTRAINT [FK_D_An_KhoCauHoi] FOREIGN KEY([Ma_CH])
REFERENCES [dbo].[KhoCauHoi] ([Ma_CH])
GO
ALTER TABLE [dbo].[D_An] CHECK CONSTRAINT [FK_D_An_KhoCauHoi]
GO
ALTER TABLE [dbo].[Da_LuaChon]  WITH CHECK ADD  CONSTRAINT [FK_Da_LuaChon_D_An] FOREIGN KEY([Ma_Dan])
REFERENCES [dbo].[D_An] ([Ma_Dan])
GO
ALTER TABLE [dbo].[Da_LuaChon] CHECK CONSTRAINT [FK_Da_LuaChon_D_An]
GO
ALTER TABLE [dbo].[Da_LuaChon]  WITH CHECK ADD  CONSTRAINT [FK_Da_LuaChon_DeThi] FOREIGN KEY([Ma_De])
REFERENCES [dbo].[DeThi] ([Ma_De])
GO
ALTER TABLE [dbo].[Da_LuaChon] CHECK CONSTRAINT [FK_Da_LuaChon_DeThi]
GO
ALTER TABLE [dbo].[Da_LuaChon]  WITH CHECK ADD  CONSTRAINT [FK_Da_LuaChon_TaiKhoan] FOREIGN KEY([MaTk])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[Da_LuaChon] CHECK CONSTRAINT [FK_Da_LuaChon_TaiKhoan]
GO
ALTER TABLE [dbo].[DeThi]  WITH CHECK ADD  CONSTRAINT [FK_DeThi_TaiKhoan] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[DeThi] CHECK CONSTRAINT [FK_DeThi_TaiKhoan]
GO
ALTER TABLE [dbo].[DS_BaiHoc]  WITH CHECK ADD  CONSTRAINT [FK_DS_BaiHoc_Bai_Hoc] FOREIGN KEY([Ma_Bai])
REFERENCES [dbo].[Bai_Hoc] ([Ma_Bai])
GO
ALTER TABLE [dbo].[DS_BaiHoc] CHECK CONSTRAINT [FK_DS_BaiHoc_Bai_Hoc]
GO
ALTER TABLE [dbo].[DS_BaiHoc]  WITH CHECK ADD  CONSTRAINT [FK_DS_ChuongHoc_TaiKhoan] FOREIGN KEY([Ma_TK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[DS_BaiHoc] CHECK CONSTRAINT [FK_DS_ChuongHoc_TaiKhoan]
GO
ALTER TABLE [dbo].[KhoCauHoi]  WITH CHECK ADD  CONSTRAINT [FK_KhoCauHoi_Bai_Hoc] FOREIGN KEY([Ma_Bai])
REFERENCES [dbo].[Bai_Hoc] ([Ma_Bai])
GO
ALTER TABLE [dbo].[KhoCauHoi] CHECK CONSTRAINT [FK_KhoCauHoi_Bai_Hoc]
GO
USE [master]
GO
