USE [master]
GO
/****** Object:  Database [TTChuyenMon]    Script Date: 6/5/2021 10:25:19 AM ******/
CREATE DATABASE [TTChuyenMon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TTChuyenMon', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TTChuyenMon.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TTChuyenMon_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TTChuyenMon_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TTChuyenMon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TTChuyenMon]
GO
/****** Object:  User [sa1]    Script Date: 6/5/2021 10:25:20 AM ******/
CREATE USER [sa1] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[sa1]
GO
/****** Object:  User [ruong]    Script Date: 6/5/2021 10:25:20 AM ******/
CREATE USER [ruong] FOR LOGIN [ruong] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Schema [sa1]    Script Date: 6/5/2021 10:25:20 AM ******/
CREATE SCHEMA [sa1]
GO
/****** Object:  Table [dbo].[Bai_Hoc]    Script Date: 6/5/2021 10:25:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bai_Hoc](
	[Ma_Bai] [int] IDENTITY(1,1) NOT NULL,
	[Tên_Bai] [nvarchar](200) NULL,
	[Ma_Chuong] [int] NULL,
	[Xoa] [bit] NULL,
 CONSTRAINT [PK_Bai_Hoc] PRIMARY KEY CLUSTERED 
(
	[Ma_Bai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cau_Hoi]    Script Date: 6/5/2021 10:25:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cau_Hoi](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MaDe] [bigint] NULL,
	[Ma_CH] [bigint] NULL,
 CONSTRAINT [PK_Cau_Hoi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chuong_Hoc]    Script Date: 6/5/2021 10:25:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chuong_Hoc](
	[Ma_Chuong] [int] IDENTITY(1,1) NOT NULL,
	[Ten_Chuong] [nvarchar](50) NULL,
	[SoBai] [int] NULL,
	[Xóa] [bit] NULL,
 CONSTRAINT [PK_Chuong_Hoc] PRIMARY KEY CLUSTERED 
(
	[Ma_Chuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_An]    Script Date: 6/5/2021 10:25:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_An](
	[Ma_Dan] [bigint] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](500) NULL,
	[HinhAnh] [varchar](100) NULL,
	[TrangThai] [bit] NULL,
	[Ma_CH] [bigint] NOT NULL,
	[Xoa] [bit] NULL,
 CONSTRAINT [PK_D_An] PRIMARY KEY CLUSTERED 
(
	[Ma_Dan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Da_LuaChon]    Script Date: 6/5/2021 10:25:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Da_LuaChon](
	[MaTk] [nvarchar](50) NULL,
	[Ma_De] [bigint] NULL,
	[Ma_Dan] [bigint] NULL,
	[Ma_CT] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Da_LuaChon] PRIMARY KEY CLUSTERED 
(
	[Ma_CT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 6/5/2021 10:25:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[MaCT] [bigint] IDENTITY(1,1) NOT NULL,
	[Ma_Bai] [int] NULL,
	[Ma_De] [bigint] NULL,
	[Diem] [float] NULL,
	[DanhDia] [varchar](200) NULL,
 CONSTRAINT [PK_DanhGia] PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeThi]    Script Date: 6/5/2021 10:25:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeThi](
	[Ma_De] [bigint] IDENTITY(1,1) NOT NULL,
	[MaTK] [nvarchar](50) NULL,
	[ThoiGianThi] [int] NULL,
	[NgayThi] [datetime] NULL,
	[DiêmSo] [float] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_DeThi] PRIMARY KEY CLUSTERED 
(
	[Ma_De] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DS_BaiHoc]    Script Date: 6/5/2021 10:25:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DS_BaiHoc](
	[Ma_TK] [nvarchar](50) NULL,
	[Ma_Bai] [int] NULL,
	[Ma_CT] [int] IDENTITY(1,1) NOT NULL,
	[ListCauHoi] [nchar](500) NULL,
	[SoCauDung] [int] NULL,
	[SoCauSai] [int] NULL,
 CONSTRAINT [PK_DS_ChuongHoc] PRIMARY KEY CLUSTERED 
(
	[Ma_CT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoCauHoi]    Script Date: 6/5/2021 10:25:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoCauHoi](
	[Ma_CH] [bigint] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](100) NULL,
	[MucDọ] [int] NULL,
	[Xoa] [bit] NULL,
	[Ma_Bai] [int] NULL,
 CONSTRAINT [PK_KhoCauHoi] PRIMARY KEY CLUSTERED 
(
	[Ma_CH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuTruyCap]    Script Date: 6/5/2021 10:25:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuTruyCap](
	[MaTK] [nvarchar](50) NOT NULL,
	[Ngay] [datetime] NULL,
 CONSTRAINT [PK_LichSuTruyCap] PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LienHe]    Script Date: 6/5/2021 10:25:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LienHe](
	[Ma_TK] [nvarchar](50) NULL,
	[NoiDung] [nvarchar](500) NULL,
	[STT] [bigint] IDENTITY(1,1) NOT NULL,
	[TrangThai] [bit] NULL,
	[HoTen] [nvarchar](50) NULL,
	[NguoiNhan] [nvarchar](50) NULL,
	[Title] [nvarchar](100) NULL,
 CONSTRAINT [PK_LienHe] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 6/5/2021 10:25:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [nvarchar](50) NOT NULL,
	[MatKhau] [varchar](50) NULL,
	[Ten] [nvarchar](50) NULL,
	[Quyen] [bit] NULL,
	[NgayTao] [date] NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bai_Hoc]  WITH CHECK ADD  CONSTRAINT [FK_Bai_Hoc_Chuong_Hoc] FOREIGN KEY([Ma_Chuong])
REFERENCES [dbo].[Chuong_Hoc] ([Ma_Chuong])
GO
ALTER TABLE [dbo].[Bai_Hoc] CHECK CONSTRAINT [FK_Bai_Hoc_Chuong_Hoc]
GO
ALTER TABLE [dbo].[Cau_Hoi]  WITH CHECK ADD  CONSTRAINT [FK_Cau_Hoi_DeThi] FOREIGN KEY([MaDe])
REFERENCES [dbo].[DeThi] ([Ma_De])
GO
ALTER TABLE [dbo].[Cau_Hoi] CHECK CONSTRAINT [FK_Cau_Hoi_DeThi]
GO
ALTER TABLE [dbo].[Cau_Hoi]  WITH CHECK ADD  CONSTRAINT [FK_Cau_Hoi_KhoCauHoi] FOREIGN KEY([Ma_CH])
REFERENCES [dbo].[KhoCauHoi] ([Ma_CH])
GO
ALTER TABLE [dbo].[Cau_Hoi] CHECK CONSTRAINT [FK_Cau_Hoi_KhoCauHoi]
GO
ALTER TABLE [dbo].[D_An]  WITH CHECK ADD  CONSTRAINT [FK_D_An_KhoCauHoi] FOREIGN KEY([Ma_CH])
REFERENCES [dbo].[KhoCauHoi] ([Ma_CH])
GO
ALTER TABLE [dbo].[D_An] CHECK CONSTRAINT [FK_D_An_KhoCauHoi]
GO
ALTER TABLE [dbo].[Da_LuaChon]  WITH CHECK ADD  CONSTRAINT [FK_Da_LuaChon_D_An] FOREIGN KEY([Ma_Dan])
REFERENCES [dbo].[D_An] ([Ma_Dan])
GO
ALTER TABLE [dbo].[Da_LuaChon] CHECK CONSTRAINT [FK_Da_LuaChon_D_An]
GO
ALTER TABLE [dbo].[Da_LuaChon]  WITH CHECK ADD  CONSTRAINT [FK_Da_LuaChon_DeThi] FOREIGN KEY([Ma_De])
REFERENCES [dbo].[DeThi] ([Ma_De])
GO
ALTER TABLE [dbo].[Da_LuaChon] CHECK CONSTRAINT [FK_Da_LuaChon_DeThi]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_Bai_Hoc] FOREIGN KEY([Ma_Bai])
REFERENCES [dbo].[Bai_Hoc] ([Ma_Bai])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_Bai_Hoc]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_DeThi] FOREIGN KEY([Ma_De])
REFERENCES [dbo].[DeThi] ([Ma_De])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_DeThi]
GO
ALTER TABLE [dbo].[DeThi]  WITH CHECK ADD  CONSTRAINT [FK_DeThi_TaiKhoan] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[DeThi] CHECK CONSTRAINT [FK_DeThi_TaiKhoan]
GO
ALTER TABLE [dbo].[DS_BaiHoc]  WITH CHECK ADD  CONSTRAINT [FK_DS_BaiHoc_Bai_Hoc] FOREIGN KEY([Ma_Bai])
REFERENCES [dbo].[Bai_Hoc] ([Ma_Bai])
GO
ALTER TABLE [dbo].[DS_BaiHoc] CHECK CONSTRAINT [FK_DS_BaiHoc_Bai_Hoc]
GO
ALTER TABLE [dbo].[KhoCauHoi]  WITH CHECK ADD  CONSTRAINT [FK_KhoCauHoi_Bai_Hoc] FOREIGN KEY([Ma_Bai])
REFERENCES [dbo].[Bai_Hoc] ([Ma_Bai])
GO
ALTER TABLE [dbo].[KhoCauHoi] CHECK CONSTRAINT [FK_KhoCauHoi_Bai_Hoc]
GO
ALTER TABLE [dbo].[LienHe]  WITH CHECK ADD  CONSTRAINT [FK_LienHe_TaiKhoan] FOREIGN KEY([Ma_TK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[LienHe] CHECK CONSTRAINT [FK_LienHe_TaiKhoan]
GO
USE [master]
GO
