
@{
    ViewBag.Title = "Quản Lý Học Tập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script>
        var item = $('#quanly');
        item.addClass("active");

    </script>

}
   <div class="col-lg-12 col-md-12">
                            <div class="card">
                                <div class="card-header card-header-info">
                                    <h4 class="card-title">Danh Sách Đề Thi</h4>
                                    
                                </div>
                                <div class="card-body table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th  style="font-weight:600">Mã đề</th >
                                                <th style="font-weight:600">Kiến Thức</th>
                                                <th style="font-weight:600">Điểm Số</th>
                                                <th style="font-weight:600">Thời Gian </th>
                                                <th style="font-weight:600">Ngày Thi </th>
                                            </tr>

                                        </thead>
                                        <thead class="text-dark">
                                      
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Dakota Rice</td>

                                                <td><div class=""> ssssss</div>
                                                    <div class=""> ssssss</div>
                                                    <div class=""> ssssss</div>
                                             
                                                <td>Niger</td>
                                                <td>Niger</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Minerva Hooper</td>
                                                <td>$23,789</td>
                                                <td>Curaçao</td>
                                                <td>Curaçao</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Sage Rodriguez</td>
                                                <td>$56,142</td>
                                                <td>Netherlands</td>
                                                <td>Curaçao</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Philip Chaney</td>
                                                <td>$38,735</td>
                                                <td>Korea, South</td>
                                                <td>Curaçao</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


